/**
* Template Name: SumoLanding
* Template URL: https://templatemag.com/sumolanding-bootstrap-landing-template/
* Author: TemplateMag.com
* License: https://templatemag.com/license/
*/

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

* {
  margin: 0;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}
/* Scroolbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  background: lightgrey;
  margin: 0;
  color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #666;
  margin-top: 10px;
}

html, body {
  height: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

.centered {
  text-align: center
}

.h2 {
  font-size: xx-large;
  font-weight: bolder;
} 

.mt {
  margin-top: 50px;
  font-size: large;
}

.mb {
  margin-bottom: 50px;
}

.mtb {
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
}

.mtb2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.ptb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.cup {
  object-position: left;
  margin-left: 50%;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  color: #1abc9c;
}

a:hover, a:focus {
  text-decoration: none;
  color: #696E74;
}

.nopadding {
  padding: 0px !important;
  margin: 0px;
}

/* FORM CONFIGURATION */

input {
  font-size: 16px;
  min-height: 40px;
  border-radius: 25px;
  line-height: 20px;
  padding: 15px 30px 16px;
  border: 1px solid #b9b9af;
  margin-bottom: 10px;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.subscribe-input {
  float: left;
  width: 65%;
  text-align: left;
  margin-right: 2px;
}

@media screen and (max-width: 767px) {
  .subscribe-input {
    width: 100%;
  }
}

.subscribe-submit {
  right: 0;
}

.btn-download {
  background: #FDE3A7;
}

/*Buttons Configuration */

.btn-conf {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 28px 17px 28px;
}

.btn-conf-2 {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 28px 11px 28px;
  margin-top: 20px;
}

.btn-green {
  background: lightgrey;
  color: black;
}
/* BARRE DE NAVIGATION */

#h .menu {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  top: 30px;
  left: 42%;
  font-family: 'Lato', sans-serif; ;
  font-weight: bolder;
}
#h .menu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#h .menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
#h .menu a {
  padding: 0.3em 0;
  color: white;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
#h .menu a:before,
#h .menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#h .menu a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
#h .menu a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color:#13dfbe;
  white-space: nowrap;
}

.menu li:hover a,
.menu .current a {
  transform: translateY(100%);
}

/* HEADER SECTION */

#h {
  background-image: url(../img/header.jpg); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  text-align: center;
  min-height: 700px;
  width: 100%;
  color: #13dfbe;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  filter: drop-shadow(8px 8px 10px grey);
}

#h h1, h6{
  color: #13dfbe;
  opacity: 100%;
  text-decoration: none;
  font-weight: bolder;
  
}

#h .logo {
  top: 30px;
  left: 45px;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  opacity: 100%;
}

#h .logopng {
  width: 150px;
  left: 50%;
  right: 50%;
  top: 3%;
}

#h .log {
  top: 30px;
  right: 45px;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  opacity: 100%;
}

#h .logo a, #h .log a{
  color: white;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
}

#h .logo a:hover, #h .log a:hover {
  color: #13dfbe;
}

#h .logo a:before, #h .log a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #e67e22;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
#h .logo a:hover:before,
#h .logo a:focus:before,
#h .log a:hover:before,
#h .log a:focus:before{
  visibility: visible;
  transform: scaleX(1);
}

#h .logo a:after, #h .log a:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  border: 1px solid #000;
  bottom: -2px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  transition: .5s;
  opacity: .1;
  transform: scalex(1);
}

#h .logo a:hover:after, #h .log a:hover:after{
  opacity: .15;
  transform: scalex(1);
}
#h .logo a:before, #h .log a::before {
  background: rgba(0,0,0,0);
  box-shadow: 0 0 10px 1px #e67e22;
}

p {padding: .5rem;}
p a {color: #e67e22}

@media (max-width: 768px) {

  #h .logo {
    top: auto;
    left: auto;
    font-size: 30px;
    font-weight: 900;
    position: static;
    text-align: center;
    padding-bottom: 30px;
  }

  #h {
    padding-top: 40px;
  }

  #h h1 {
    color: white;
    font-size: 30px;
  }
}

/* SEP */

#sep {
  background-image: url(../img/sep.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  text-align: center;
  min-height: 450px;
  width: 100%;
  color: white;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-weight: bolder;
  filter: grayscale(25%);
}

#sep h4 {
  font-weight: bolder;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 30px;
  font-size: large;
}
#sep h1 {
  font-weight: bolder;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 30px;
  font-size: xx-large;
}
/* CONTACT */
.mail {
  width: 5%;
}
/* SPONSORS */

#g {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}


.sponsor img {
  width: 125px;
  height: auto;
  max-width: 250px;
  max-height: 100px;
  vertical-align: middle;
}

.sponsor .col-sm-2 {
  height: 80px;
  line-height: 80px;
}

/* FOOTER */

#f {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f2f2f;
  color: white;
}

#f h5 {
  margin-top: 30px;
  letter-spacing: 1px;
}

#f i {
  font-size: 45px;
  margin: 15px;
}

#f a {
  color: #b9b9b9;
}

#f a:hover {
  color: #03C9A9;
}

/* Copyrights */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #13dfbe;
}

.credits {
  color: #999;
}
