<style>
    @import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Crimson+Pro:wght@200&family=Merriweather:ital,wght@1,300&family=Rubik:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
    body {
        margin-top: 40px;
        font-size: 14px;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }

    #external-events {
        overflow-y: scroll;
        height: 500pt;
        float: right;
        position: relative;
        left: 20px;
        top: 20px;
        margin-right: 150px;
        margin-left: 0px;
        right : 100px;
        width: 220px;
        padding: 20px 20px;
        border: 3px solid rgb(80, 124, 159);
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 3px 0;
        cursor: move;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
        background-color: #999;
    }

    #calendar-wrap {
        margin-left: 200px;
    }

    #calendar {
        max-width: 1100px;
        position: relative;
        margin: 0 auto;
        margin-left: 0px;
        border: 1px solid rgb(80, 124, 159);
    }

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 14px;
        background-color: rgb(34, 55, 73);
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
    }

    .hoverEffect {
        font-size: 29px;
        position: absolute;
        margin: 30px 55px;
        cursor: pointer;
    }

    .ui-datepicker-trigger {
        background: transparent;
        border: none;
        margin: 0 !important;
        padding: 0 !important;
    }

    .datetimepicker .input-group-addon {
        background-color: #f9f9f9;
        border-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
        height: 2.1em;
        border: 1px solid #ccc;

    }

    .fc-state-default.fc-corner-right {
        border-radius: 0px;
    }
    .fc-view
{
    width: 100%;
    overflow: visible;
}

    #menu-accordeon {
        font-family: "Rubik", sans-serif; 
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu-accordeon ul {
    font-family: "Rubik", sans-serif; 
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}

#menu-accordeon li {
   background-color:#729EBF; 
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
    font-family: "Rubik", sans-serif; 
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
    font-family: "Rubik", sans-serif; 
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em;
  font-family: "Rubik", sans-serif; 
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}
#display-1 {
    border: 3px solid rgb(80, 124, 159);
    background-color: #c9d5eef1 ;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}
H1 { text-align: center;
    font-family: "Rubik", sans-serif; 
}


#exports{
    text-align: center;
    font-family: "Rubik", sans-serif; 
}
#semainiers{
    text-align: center;
    font-family: "Rubik", sans-serif; 
}

#formulaire{
    text-align: center;
    font-family: "Rubik", sans-serif; 
}
#saving{
    text-align: center;
    font-family: "Rubik", sans-serif; 
}

#popup-Form{
    display: none;
    position: fixed;
        height: 250pt;
        z-index: 2;
        float: left;
        left: 10px;
        top: 20px;
        width: 280px;
        padding: 20px 0px;
        border: 3px solid rgb(80, 124, 159);
        background: #eee;
        text-align: center;
}
/*#ID_input1 {
    display :none;
}

#ID_input4 {
    display :none;
}
#a {
    display :none;
}
#b {
    display :none;
}
#ID_bouton1 {
    display :none;
}*/
</style>
</head>
<body>    

        <div id="titre"><h1 id="display-1"> <%= page %> </h1></div>
        <div id ="semainiers"><a id ="semainier" href=<%= link %>><button class="btn btn-primary">Changer de semainier</button> </a></div>
        <div id ="formulaire"><a id ="semainier" href="/"><button class="btn btn-info" onclick = "resetSessionStorageMescrenaux()">Retour au formulaire</button> </a></div>
        <div id ="saving"></div>
    </div>
    
    
    <!--<a href="test4.ejs"><button>Export</button> </a>-->


    <div id="exports">

        </div>

        <script>
        if("<%=link%>"=="test2.ejs"){
            document.getElementById("exports").innerHTML =        
            "<form name='formats'>"+
            '<input class ="btn btn-warning" type="button" value="export" id="export">'+
        "</form>";
        document.getElementById("saving").innerHTML =   "<form name='saving'>"+
            '<input class ="btn btn-secondary" type="button" value="saving" id="saving">'+
        "</form>";
        };
        </script>


    
    <div id='external-events'>
 
 </div>
 
 <div id ="popup-Form">
 <form name="myForm">

    <h3>Parametrage d'event </h3>
    <div>
        <label>Intervenant </label>
    <input  id="ID_input1" type="text"/>
   </div>
<p> - </p>
   <div>
<p><strong>Informatisé</strong></p>
   
    <label for="a">Non</label>
    <input type="radio" checked id="a"
    name="ID_input2" value="0">
  

   <label for="b">Oui</label>
   <input type="radio" id="b"
    name="ID_input2" value="1">
</div>
  
<div>
    <button type="input" class ="btn btn-primary" id="ID_bouton1">Modification</button>
</div>
<h4> Ou </h4>
  <div>
    <button type="input" class ="btn btn-danger" id="ID_bouton2">Supprimer</button>
  </div>
   

 </form> 
</div>
 <!--<div class="form-popup" id="popup-Form">
    <form action="/action_page.php" class="form-container">
      <h2>Parametrez <script></script></h2>
      <label for="email">
        <strong>E-mail</strong>
      </label>
      <input type="text" placeholder="Votre Email" name="email" required />
      <label for="psw">
        <strong>Mot de passe</strong>
      </label>
      <input type="password" placeholder="Votre mot de passe" name="psw" required />
      <button type="submit" class="btn">Se connecter</button>
      <button type="submit" class="btn cancel" onclick="closeForm()">Annuler</button>
    </form>-->
  </div>


    <div id='calendar'></div>
    
   
      <script>
          "use strict";
 

 
</script>



</body>

</html>