<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire</title>
  </head>

  <body>
    <script>
      console.log("Valeur de mes crenuax",sessionStorage["Mes_Crenaux"]);
      sessionStorage.setItem('Mes_Crenaux', undefined)
      console.log("Valeur de mes crenuax",sessionStorage["Mes_Crenaux"]);
      function resetSessionStorageMescrenaux() {
  sessionStorage.setItem("Mes_Crenaux", undefined);
}
      
      //console.log(sessionStorage);
      sessionStorage.format = "<%=format%>";
      console.log("<%=LisUE%>");
      var LisUE = "<%=LisUE%>".split(",");
      var Lifiltre = "<%=UEfiltred%>".split(",");
      function generatechampgrp() {
          var n = document.getElementById("groupenumber").value;
          document.getElementById("groupebase").innerHTML = "";
          for (var i = 1; i <= n; i++) {
            document.getElementById("groupebase").innerHTML +=
              ' <div> <label for=grp"> Groupe ' +
              i +
              ' :</label> <input type="text" required name="grp" id="grp"> </div>';
          }
        }
        function generatechampgrp2(name) {
          var n = document.getElementById("groupenumber"+name.toString()).value;
          console.log(n);
          document.getElementById("groupebase"+name.toString()).innerHTML = "";
          for (var i = 1; i <= n; i++) {
            document.getElementById("groupebase"+name.toString()).innerHTML +=
              ' <div> <label for=grp"> Groupe ' +
              i +
              ' :</label> <input type="text" required name="grp'+name+'" id="grp"> </div>';
          }

        }


        function loadgroupversion(){
          var global = document.getElementById("grptype1").checked;
          console.log(global);
          if (global){
            document.getElementById("groupversion").innerHTML =
           "<label for='groupenumber'>Donnez le nombre de groupes souhaités dans l'application :</label>" +
        '<input type="number" min="1" max="10" name="groupenumber" id="groupenumber" onchange="generatechampgrp()" required/>'+ 
    '<div id="groupebase"></div>'; 
          } else{
          document.getElementById("groupversion").innerHTML = "";
          LisUE.forEach(UE => {
            var i = LisUE.indexOf(UE);
            var name = "groupebase"+i.toString();
            var namebis = "groupenumber"+i.toString();
            var change = "onchange="+"'"+"generatechampgrp2("+i+")"+"'";
            var divid = '<div id="'+name+'"></div>';
            console.log(divid);
            document.getElementById("groupversion").innerHTML += 
            "<label for='groupenumber'>Nombre de groupe pour "+UE+" :</label>" +
        '<input type="number" min="1" max="10" name="'+namebis+'" id="'+namebis+'"' + change +'required/>'+ 
    divid;
          })
          
        };
        }
        
    </script>
    <div id = "contain">
    <form action="/verif.ejs" method="post">

      <h1 id="welcome">Des Ues ont bien été chargées.</h1></br>
<div id="groupechoice">
  <p><strong>Choisir comment manipuler les groupes</strong></p>
  <div id ="test">
    
    <label for="grptype1">Une liste de groupe pour tout les UEs </label>
    <input type="radio" id="grptype1" name="grpglobal" value="1" checked onchange="loadgroupversion()">
  </div>    
  
  <div>
    <label for="grptype2">Une liste de groupe par UE </label>
    <input type="radio" id="grptype2" name="grpglobal" value="0" onchange="loadgroupversion()">
  </div>

</div>
      <div id ="groupversion"></div>

    <div>

      <input type="text" value="<%=binf%>" name="binf" hidden />
      <input type="text" value="<%=bsup%>" name="bsup" hidden />
      <input type="text" value="<%=vac%>" name="vac" hidden />
      
        
        <p id="liste">En voici la liste : </br><%=UEfiltred%> </p>
        
        <button id ="Bouton2">Generer le semainier</button>
      </div>
    </form>
  </div>
  <script>
    loadgroupversion();
  </script>
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Crimson+Pro:wght@200&family=Merriweather:ital,wght@1,300&family=Rubik:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
    body {
        /*padding: 0px;*/
       /*position: absolute;*/
       position: relative;
        /*transform: translate(-50%, -50%); */
        font-weight: bold;
        margin: 0 auto;
        margin-top: 5%;
         width: 800px;
        font-family: "Rubik", sans-serif; 
      }

      body:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        margin: 0px !important;
        padding: 0px !important;
        
        z-index: -10;
        background-image: url("https://scontent-mrs2-2.xx.fbcdn.net/v/t31.18172-8/11227523_1608542096066387_6330850991744781867_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=19026a&_nc_ohc=Yuheq0rFcywAX_ExZpk&tn=3urndYP2qq4R61_l&_nc_ht=scontent-mrs2-2.xx&oh=00_AT_oajq66JO9qYy_uPwg9_SWUzyXVu_mGQJ-ZdGQ8_R8tw&oe=6277EE2C");
        filter        : blur(6px);
        -moz-filter   : blur(6px);
        -webkit-filter: blur(6px);
        -o-filter     : blur(6px);
      }

    form {
      background-color: #DCDCDC;
      padding: 30px;
      border-radius: 10px;
      flex-direction: colum;
      box-shadow: 0px 10px 50px -10px;
    }
    #test {
        color: black;
        margin-top: 30px;
        margin-bottom: 35px;
        flex-direction: column;
        
      }
    #welcome{
        color: black;
        text-align: center;
        font-size: 2em;
      
    }
   
    #liste {
        color: black;
        margin-top: 30px;
        margin-bottom: 35px;
        flex-direction: column;
        font-size: 1em;

    }
    #Bouton2 {
        background-color: grey;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 20px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        display: block;
        margin: auto;
      }
    </style>
</html>